{% include '@GameOfThrones/Default/header.html.twig' %}
<ul>
    <li><b>Liste des personnages</b></li>
    <ul>
        <li><a href="/Personnages">Tous</a></li>
        <li><a href="/Sexe/Femme">Femmes</a></li>
        <li><a href="/Sexe/Homme">Hommes</a></li>
    </ul>
    <li><a href="/addPersonnage">Ajouter un personnage</a></li>
    <hr/>
    <li><a href="/Royaumes">Liste des royaumes</a></li>
    <li><a href="/addRoyaume">Ajouter un royaume</a></li>


</ul>
{% include '@GameOfThrones/Default/footer.html.twig' %}